@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar__topSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2% 0%;
}

.navbar__topSide--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20%;
}

.navbar__topSide--left a {
  margin: 0% 5%;
  color: white;
  width: 100%;
  padding: 2% 3%;
  margin: 2% 3%;
  text-align: center;
}

.navbar__buttomSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 0%;
}

.navbar__buttomSide > a {
  margin: 0% 2%;
  color: white;
}

.intro {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(60%, rgba(0, 0, 0, 0.5))), url("../../image/keybord.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5) 60%), url("../../image/keybord.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.intro > h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

.intro > h2 {
  font-size: 2.5rem;
}

.contactSmall {
  position: absolute;
  top: 14%;
  left: 96%;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  width: 3%;
}

.contactSmall img {
  width: 70%;
  margin: 5% 15%;
}

.titleHref {
  display: inline-block;
}

.titleHref:hover::after {
  content: attr(data-title);
  position: absolute;
  right: 3.5vw;
  margin-top: 20%;
  font-size: 1.1rem;
  color: white;
  border-radius: 0.3rem;
  z-index: 1;
}

.skills {
  background-color: #320d3e;
  color: white;
  text-align: center;
  padding: 2% 0%;
}

.skills__header {
  border-bottom: 1px solid white;
  width: 45%;
  margin: 0 auto;
  padding: 0.5% 0%;
  font-family: 'Monoton', cursive;
  font-size: 2rem;
}

.skills__content {
  font-size: 1.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}
/*# sourceMappingURL=index.css.map */