@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
.navbar__menuBtn {
  position: absolute;
  top: calc(-0.5% + 0.2%);
  left: calc(5% - 1.5%);
  z-index: 4;
  color: white;
}

.navbar__menuBtn::after {
  font-size: calc(2.5rem + 0.1rem);
  content: "\2261";
}

.navbar__menu {
  display: none;
  background-color: black;
  width: 70%;
  position: absolute;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  z-index: 3;
}

.navbar__menu.isopen {
  display: block;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  position: relative;
}

.navbar__info--header {
  font-size: calc(0.9rem + 0.2rem);
  color: white;
  cursor: pointer;
}

.navbar__info--header:hover {
  border-bottom: 1px solid white;
}

.navbar__trek {
  background-color: black;
  margin: 0% auto;
  padding: 17% 11% 3% 11%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__trek--header {
  font-family: 'Quicksand', sans-serif;
  color: white;
  background: none;
  border: none;
  font-size: calc(0.9rem + 0.2rem);
  padding: 1% 0%;
  height: 4.5vh;
  cursor: pointer;
}

.navbar__trek--header:hover {
  border-bottom: 1px solid white;
}

select {
  position: absolute;
  z-index: 1;
  top: 85%;
  left: 41%;
  background: black;
  color: white;
  padding: 0.2%;
}

@media (min-width: 700px) {
  .navbar__menuBtn {
    display: none;
  }
  .navbar__menu {
    display: block;
    width: 100%;
    position: absolute;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar__info {
    padding: 0.7% 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 4.5vh;
    right: 2%;
  }
  .navbar__trek {
    padding: 6% 30% 2% 30%;
  }
  .navbar__trek--header {
    padding: 0%;
    height: 3vh;
  }
  select {
    top: 30%;
    left: 2%;
  }
}

@media (min-width: 1220px) {
  .navbar__info {
    padding: 0.7% 0%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 4.5vh;
    right: 1%;
  }
  .navbar__trek {
    padding: 4% 30% 1% 30%;
  }
}

.intro {
  position: relative;
  top: -1vh;
  width: 100%;
  height: 89vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.95)), color-stop(60%, rgba(0, 0, 0, 0.5))), url("../../image/keybord.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.5) 60%), url("../../image/keybord.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}

.intro__content h1 {
  width: 85%;
  margin: 0% auto;
  font-size: calc(1.5rem + 1rem);
}

.intro__content h2 {
  width: 85%;
  margin: 0% auto;
  font-size: calc(1rem + 1rem);
}

@media (min-width: 700px) {
  .intro {
    height: 92vh;
  }
  .intro__content > h1 {
    width: 80%;
  }
  .intro__content > h2 {
    width: 80%;
  }
}

@media (min-width: 1220px) {
  .intro__content > h2 {
    width: 100%;
  }
}

/*----SMALL CONTACT----*/
.contactSmall {
  z-index: 5;
  position: fixed;
  top: 18%;
  left: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  width: 10%;
}

.contactSmall img {
  width: 70%;
  margin: 5% 15%;
}

.titleHref {
  display: inline-block;
}

.titleHref:hover::after {
  content: attr(data-title);
  position: absolute;
  right: 15vw;
  margin-top: 15%;
  font-size: 0.8rem;
  color: white;
  border-radius: 0.3rem;
  background-color: rgba(128, 128, 128, 0.507);
  padding: 5% 10%;
}

/*----BIG CONTACT----*/
.contactBig {
  width: 90%;
  margin: 5% auto;
}

.contactBig a {
  color: purple;
}

.contactBig a:hover {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  color: #0e1eaf;
  font-weight: bold;
}

.contactBig__content {
  background-color: rgba(221, 218, 218, 0.3);
  padding: 3% 0%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.contactBig__contact {
  padding: 5% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactBig__contact p {
  font-size: calc(0.7rem + 0.1rem);
  font-weight: bold;
}

.contactBig__contact a {
  font-size: calc(0.9rem + 0.2rem);
}

@media (min-width: 700px) {
  /*----SMALL CONTACT----*/
  .contactSmall {
    top: 46%;
    left: 91%;
    width: 6%;
  }
  .titleHref:hover::after {
    right: 7.5vw;
    margin-top: 18%;
    font-size: 1rem;
  }
  /*----BIG CONTACT----*/
  .contactBig__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contactBig__contact p {
    font-size: calc(1rem + 0.2rem);
  }
  .contactBig__contact a {
    font-size: calc(1rem + 0.3rem);
  }
}

@media (min-width: 1220px) {
  /*----SMALL CONTACT----*/
  .contactSmall {
    top: 45%;
    left: 96%;
    width: 3%;
  }
  .titleHref:hover::after {
    right: 4vw;
    margin-top: 15%;
    font-size: 1rem;
  }
  .contactBig {
    width: 80%;
  }
  .contactBig__contact p {
    font-size: calc(1rem + 0.3rem);
  }
  .contactBig__contact a {
    font-size: calc(1rem + 0.4rem);
  }
}

.skills {
  background-color: #54046e;
  color: white;
  text-align: center;
  padding: 10% 0%;
}

.skills__header {
  font-family: 'Monoton', cursive;
  font-size: calc(1.5rem + 0.5rem);
}

.skills__backAndFront h2 {
  margin: 3% auto;
  padding: 1% 0%;
  width: 39%;
  border-bottom: 1px solid white;
}

.skills__backAndFront--content {
  font-size: calc(1rem + 0.1rem);
}

.skills__backAndFront--content p {
  padding: 0.6% 0%;
}

@media (min-width: 700px) {
  .skills {
    padding: 4% 0%;
  }
  .skills__backAndFront h2 {
    margin: 3% auto;
    padding: 1% 0%;
    width: 20%;
  }
  .skills__backAndFront--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: calc(1rem + 0.1rem);
  }
  .skills__backAndFront--content p {
    padding: 0.5% 2%;
  }
}

@media (min-width: 1220px) {
  .skills {
    padding: 2% 0%;
  }
  .skills__backAndFront h2 {
    margin: 1% auto;
    padding: 1% 0%;
    width: 10%;
  }
  .skills__backAndFront--content p {
    padding: 0.5% 2%;
  }
}

.works {
  width: 90%;
  margin: 10% auto;
}

.works a {
  color: black;
}

.works__project {
  background-color: rgba(221, 218, 218, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5% auto;
  padding: 2%;
  font-size: calc(0.8rem + 0.5rem);
}

.works__project > img {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 1%;
}

.works__project > p,
.works__project > div {
  margin: 0% 8%;
}

.works__project--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works__project--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.works__project--info h2 {
  color: blueviolet;
  margin: 2% 0%;
}

.works__project--info h3 {
  margin: 5% 0%;
}

.works__project--email-pass {
  color: #2b5ce2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.works__project--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.works__project--links > a {
  color: white;
  background-color: hotpink;
  margin: 10% 0%;
  padding: 1% 3%;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.works__project--links > a:hover {
  background-color: #832486;
}

@media (min-width: 700px) {
  .works {
    margin: 5% auto;
  }
  .works__project--info h3 {
    margin: 3% 0%;
  }
  .works__project--links > a {
    margin: 5% 0%;
    padding: 0.8% 2.8%;
  }
}

@media (min-width: 1220px) {
  .works {
    width: 90%;
    margin: 1% auto;
  }
  .works__project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2% auto;
  }
  .works__project > img {
    width: 30%;
  }
  .works__project > p,
  .works__project > div {
    margin: 0% 2%;
  }
  .works__project--info h3 {
    margin: 2% 0%;
  }
  .works__project--links > a {
    margin: 3% 0%;
    padding: 0.5% 2%;
  }
}

.back-to-top {
  position: fixed;
  bottom: -10rem;
  left: 80%;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  background-color: rgba(141, 141, 141, 0.6);
  text-align: center;
  padding: 1.5% 0%;
  border-radius: 100%;
}

.back-to-top > img {
  width: 50%;
}

.back-to-top.active {
  bottom: 10%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.back-to-top.active:hover {
  background-color: #69c8ff;
}

@media (min-width: 700px) {
  .back-to-top {
    left: 90%;
    padding: 1.3% 0.3%;
  }
  .back-to-top.active {
    bottom: 2%;
  }
}

@media (min-width: 1220px) {
  .back-to-top {
    left: 95%;
    padding: 0.5% 0.2%;
  }
  .back-to-top.active {
    bottom: 1.5%;
  }
}

.createdBy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  color: white;
  height: 8vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: calc(0.7rem + 0.1rem);
}

.createdBy a {
  padding: 0% 2%;
  color: white;
}

.aboutme {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: relative;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 6;
  overflow-y: scroll;
}

.aboutme__popUp {
  width: 80%;
  background-color: white;
  margin: 10% auto;
  font-size: 1.2rem;
  padding: 2%;
}

.aboutme__close {
  width: 12%;
  text-align: center;
  padding: 0.25% 0%;
  margin: 0;
  border-radius: 0.5rem;
  background-color: hotpink;
  color: white;
}

.aboutme__close:hover {
  background-color: #832486;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.aboutme__info h1 {
  color: purple;
  position: relative;
  top: 0.2vh;
}

.aboutme__info p {
  line-height: 2rem;
  margin: 2% 0%;
}

.aboutme__info p:first-letter {
  font-size: 2rem;
  color: purple;
}

.tooltip {
  position: absolute;
  top: 10vh;
  left: 70%;
  width: 10%;
  text-align: center;
  border-bottom: 1px dotted black;
  margin: 0;
}

.tooltiptext {
  visibility: hidden;
  width: 50vw;
  line-height: 2rem;
  background-color: rgba(52, 130, 194, 0.9);
  color: white;
  padding: 10%;
  position: absolute;
  top: 0vh;
  right: 10vw;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

@media (min-width: 700px) {
  .aboutme__close {
    width: 5%;
    left: 95%;
  }
  .tooltip {
    left: 75%;
  }
  .tooltip .tooltiptext {
    left: -50vw;
  }
}

@media (min-width: 1220px) {
  .aboutme {
    overflow-y: hidden;
  }
  .aboutme__close {
    width: 2.5%;
    left: 97%;
  }
  .tooltip {
    top: 25vh;
    left: 80%;
  }
  .tooltip .tooltiptext {
    width: 20vw;
    left: -23vw;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */