@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import './var/index';
@import './components/navbar';
@import './components/intro';
@import './components/contact';
@import './components/skills';
@import './components/works';
@import './components/btnUp';
@import './components/footer';
@import './components/aboutme';

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}