@import './mixin/mixin';

.userForm {
    // background: linear-gradient(-45deg, #f79e83, #f384ae, #7dcce9, #7bdfc8);
    // background-color: rgb(20, 20, 20);
    // border-top: 2px ;
    // box-shadow: 0px 0px 15px 20px rgb(20, 20, 20);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 80vh;
    display: flex;
    flex-direction: column;
    // color: white;
    justify-content: center;
    align-items: center;

    &__theForm {
        text-align: center;
        width: clamp(250px, 40%, 600px);
        display: flex;
        flex-direction: column;
        padding: 1% 3% 3% 3%;

        & input,
        & button,
        & textarea {
            border: none;
            padding: 2% 3%;
            margin: 1% 0%;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;

        }
    }
}