.aboutme {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 6;
    overflow-y: scroll;

    &__popUp {
        width: 80%;
        background-color: white;
        margin: 10% auto;
        font-size: $fontSize;
        padding: 2%;
    }

    &__close {
        width: 12%;
        text-align: center;
        padding: 0.25% 0%;
        margin: $noPandM;
        border-radius: $borderRadius;
        background-color: $pinkBtn;
        color: $linkColorAndText;

        &:hover {
            background-color: $hoverPinkBtn;
            transition: $transition;
        }
    }

    &__info {
        & h1 {
            color: $purpleColor;
            position: relative;
            top: 0.2vh;
        }

        & p {
            line-height: 2rem;
            margin: 2% 0%;

            &:first-letter {
                font-size: 2rem;
                color: $purpleColor;
            }
        }
    }

    &__hobbies {
        &--header {
            border-bottom: 1px solid black;
            width: 10%;
            text-align: center;
        }
    }
}

.tooltip {
    position: relative;
    top: -10vh;
    left: 4%;
    width: 10%;
    text-align: center;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 50vw;
    line-height: 2rem;
    background-color: rgba(80, 175, 253, 0.87);
    color: $linkColorAndText;
    padding: 10%;
    position: absolute;
    top: 0vh;
    left: 10vw;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

ul {
    padding: $noPandM;
    margin: $noPandM;
}

li {
    list-style: none;
}


@media (min-width:700px) {
    .aboutme {
        &__close {
            width: 5%;
            left: 95%;
        }
    }

    .tooltip {
        top: -1vh;
        left: 87%;
    }

    .tooltip .tooltiptext {
        left: -50vw;
    }

}

@media (min-width:1220px) {
    .aboutme {
        overflow-y: hidden;

        &__close {
            width: 2.5%;
            left: 97%;
        }
    }

    .tooltip {
        top: -1vh;
        left: 87%;
    }

    .tooltip .tooltiptext {
        width: 20vw;
        left: -23vw;
    }
}