.btnUp {
    position: fixed;
    top: 95%;
    left: 2%;
}

.back-to-top {
    position: fixed;
    bottom: -10rem;
    left: 1%;
    cursor: pointer;
    transition: 0.3s all;
}

.back-to-top.active {
    bottom: 3%;
    transition: 0.3s all;
}