.contactSmall {
    position: fixed;
    top: 42%;
    left: 96%;
    float: right;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: $borderRadius;
    width: 3%;

    & img {
        width: 70%;
        margin: 5% 15%;
    }
}

.titleHref {
    display: inline-block;

    &:hover::after {
        content: attr(data-title);
        position: absolute;
        right: 3.5vw;
        margin-top: 15%;
        font-size: 1.1rem;
        color: white;
        border-radius: 0.3rem;
        z-index: 2;
        background-color: rgba(128, 128, 128, 0.507);
        padding: 5% 10%;
    }
}

.contactBig {
    font-size: 1.2rem;
    width: 60%;
    margin: 5% auto;

    & a {
        color: purple;

        &:hover {
            transition: $transition;
            color: rgb(14, 30, 175);
            font-weight: bold;
        }
    }

    &__content {
        background-color: $blueBackgroung;
        padding: 3% 0%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}