/*----SMALL CONTACT----*/
.contactSmall {
    z-index: 5;
    position: fixed;
    top: 18%;
    left: 87%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: $borderRadius;
    width: 10%;

    & img {
        width: 70%;
        margin: 5% 15%;
    }
}

.titleHref {
    display: inline-block;

    &:hover::after {
        content: attr(data-title);
        position: absolute;
        right: 15vw;
        margin-top: 15%;
        font-size: 0.8rem;
        color: $linkColorAndText;
        border-radius: 0.3rem;

        background-color: rgba(128, 128, 128, 0.507);
        padding: 5% 10%;
    }
}

/*----BIG CONTACT----*/

.contactBig {
    width: 90%;
    margin: 5% auto;

    & a {
        color: $purpleColor;

        &:hover {
            transition: $transition;
            color: rgb(14, 30, 175);
            font-weight: bold;
        }
    }

    &__content {
        background-color: $blueBackgroung;
        padding: 3% 0%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    &__contact {
        padding: 5% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & p {
            font-size: calc(0.7rem + 0.1rem);
            font-weight: bold;
        }

        & a {
            font-size: calc(0.9rem + 0.2rem);
        }
    }
}

@media (min-width: 700px) {

    /*----SMALL CONTACT----*/
    .contactSmall {
        top: 46%;
        left: 91%;
        width: 6%;
    }

    .titleHref {
        &:hover::after {
            right: 7.5vw;
            margin-top: 18%;
            font-size: 1rem;
        }
    }

    /*----BIG CONTACT----*/
    .contactBig {
        &__content {
            grid-template-columns: repeat(2, 1fr);
        }

        &__contact {
            & p {
                font-size: calc(1rem + 0.2rem);
            }

            & a {
                font-size: calc(1rem + 0.3rem);
            }
        }
    }
}




@media (min-width: 1220px) {

    /*----SMALL CONTACT----*/
    .contactSmall {
        top: 45%;
        left: 96%;
        width: 3%;
    }

    .titleHref {
        &:hover::after {
            right: 4vw;
            margin-top: 15%;
            font-size: 1rem;
        }
    }

    // /*----BIG CONTACT----*/
    .contactBig {
        width: 80%;

        &__contact {
            & p {
                font-size: calc(1rem + 0.3rem);
            }

            & a {
                font-size: calc(1rem + 0.4rem);
            }
        }
    }
}