.navbar {
    &__menuBtn {
        position: absolute;
        top: calc(-0.5% + 0.2%);
        left: calc(5% - 1.5%);
        z-index: 4;

        &::after {
            font-size: calc(2.5rem + 0.1rem);
            content: "\2261";
        }

        color:white;
    }

    &__menu {
        display: none;
        background-color: black;
        width: 70%;
        position: absolute;
        box-shadow: 1px 1px 5px grey;
        z-index: 3;

        &.isopen {
            display: block;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        color: white;
        position: relative;

        &--header {
            font-size: calc(0.9rem + 0.2rem);
            color: white;
            cursor: pointer;

            &:hover {
                border-bottom: $borderBtn;
            }
        }
    }

    &__trek {
        background-color: black;
        margin: 0% auto;
        padding: 17% 11% 3% 11%;
        display: flex;
        justify-content: space-between;

        &--header {
            font-family: 'Quicksand', sans-serif;
            color: white;
            background: none;
            border: none;
            font-size: calc(0.9rem + 0.2rem);
            padding: 1% 0%;
            height: 4.5vh;
            cursor: pointer;

            &:hover {
                border-bottom: $borderBtn;
            }
        }
    }
}

select {
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 41%;
    background: black;
    color: white;
    padding: 0.2%;
}

@media (min-width: 700px) {
    .navbar {
        &__menuBtn {
            display: none;
        }

        &__menu {
            display: block;
            width: 100%;
            position: absolute;
            box-shadow: none;
        }

        &__info {
            padding: 0.7% 0%;
            flex-direction: row;
            height: 4.5vh;
            right: 2%;
        }

        &__trek {
            padding: 6% 30% 2% 30%;

            &--header {
                padding: 0%;
                height: 3vh;
            }
        }
    }

    select {
        top: 30%;
        left: 2%;
    }
}



@media (min-width: 1220px) {
    .navbar {

        &__info {
            padding: 0.7% 0%;
            flex-direction: row;
            height: 4.5vh;
            right: 1%;
        }

        &__trek {
            padding: 4% 30% 1% 30%;
        }
    }
}