.skills {
    background-color: $purpleColor;
    color: $linkColor;
    text-align: center;
    padding: 2% 0%;


    &__header {
        // border-bottom: 1px solid white;
        width: 45%;
        margin: 0 auto;
        padding: 0.5% 0%;
        font-family: 'Monoton', cursive;
        font-size: 2rem;

        &--content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & p {
                padding: 0% 1%;
            }
        }
    }

    &__backAndFront {
        width: 40%;
        display: flex;
        flex-direction: column;

        & h2 {
            margin: 1% auto;
            padding: 1% 0%;
            width: 30%;
            border-bottom: 1px solid white;
        }

        &--content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 1.2rem;
        }
    }

}