.skills {
    background-color: $purpleCBackground;
    color: $linkColorAndText;
    text-align: center;
    padding: 10% 0%;


    &__header {
        font-family: 'Monoton', cursive;
        font-size: calc(1.5rem + 0.5rem);
    }

    &__backAndFront {
        & h2 {
            margin: 3% auto;
            padding: 1% 0%;
            width: 39%;
            border-bottom: 1px solid white;
        }

        &--content {
            font-size: calc(1rem + 0.1rem);

            & p {
                padding: 0.6% 0%;
            }
        }
    }

}

@media (min-width: 700px) {
    .skills {
        padding: 4% 0%;

        &__backAndFront {
            & h2 {
                margin: 3% auto;
                padding: 1% 0%;
                width: 20%;
            }

            &--content {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: calc(1rem + 0.1rem);

                & p {
                    padding: 0.5% 2%;
                }
            }
        }
    }
}

@media (min-width: 1220px) {
    .skills {
        padding: 2% 0%;

        &__backAndFront {

            & h2 {
                margin: 1% auto;
                padding: 1% 0%;
                width: 10%;
            }

            &--content {
                & p {
                    padding: 0.5% 2%;
                }
            }
        }

    }
}