.works {
    width: 80%;
    margin: 5% auto;

    &__project {
        background-color: aqua;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 3% 0%;
        height: 20vh;
        width: 80%;

        &>img {
            width: 30%;
            height: 100%;
        }

        &:nth-child(even) {
            position: relative;
            left: 20%;
        }
    }
}