.works {
    width: 80%;
    margin: 5% auto;

    & a {
        color: black;
    }

    &__project {
        background-color: $blueBackgroung;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 3% 0%;
        padding: 2%;
        // height: 20vh;
        font-size: $fontSize;
        width: 80%;

        &>img {
            width: 30%;
            height: 100%;
            background-color: white;
            padding: 0.5%;
        }

        &>p,
        &>div {
            margin: 0% 1%;
        }

        &:nth-child(even) {
            position: relative;
            left: 20%;
        }

        &--content {
            display: flex;
            flex-direction: column;
        }

        &--info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &>h2 {
                color: blueviolet
            }
        }

        &--links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            &>a {
                color: $linkColorAndText;
                background-color: $pinkBtn;
                padding: 0.5% 1%;
                border-radius: $borderRadius;
                transition: $transition;

                &:hover {
                    background-color: $hoverPinkBtn;
                }
            }
        }
    }
}