//Background
$purpleCBackground: #54046e;
$blueBackgroung:rgba(221, 218, 218, 0.3);

//Fonts
$linkColorAndText:white;
$purpleColor:purple;
$fontSize:1.2rem;

// Btn
$borderRadius: 0.5rem;
$pinkBtn:hotpink;
$hoverPinkBtn:rgb(131, 36, 134);
$borderBtn: 1px solid white;

//Animation
$transition: 0.3s all;

//noMargin&Padding
$noPandM:0;

//Padding

//Margin

