<div class="contactBig" id="contacts">
    <div class="contactBig__content">
        <!-- PHONE -->
        <h2>Phone</h2>
        <p dir="ltr"><a href="tel:+972526299431">+972-52-629-9431</a></p>

        <!-- EMAIL -->
        <h2>Email</h2>
        <p><a href="mailto:katya.ru.fullstack@gmail.com">katya.ru.fullstack@gmail.com</a></p>

        <!-- Github -->
        <h2>Github</h2>
        <p><a href="https://github.com/RuKatya">https://github.com/RuKatya</a></p>

        <!-- Linkedin -->
        <h2>Linkedin</h2>
        <p><a href="https://www.linkedin.com/in/katya-rukosuev/">https://www.linkedin.com/in/katya-rukosuev/</a></p>
    </div>
</div>