<div class="contactBig" id="contacts" data-aos="fade-up">
    <div class="contactBig__content">
        <!-- PHONE -->
        <div class="contactBig__contact">
            <p>Phone</p>
            <a dir="ltr" href="tel:+972526299431">+972-52-629-9431</a>
        </div>

        <!-- EMAIL -->
        <div class="contactBig__contact">
            <p>Email</p>
            <a href="mailto:katya.ru.fullstack@gmail.com">katya.ru.fullstack@gmail.com</a>
        </div>

        <!-- Github -->
        <div class="contactBig__contact">
            <p>Github</p>
            <a href="https://github.com/RuKatya">https://github.com/RuKatya</a>
        </div>

        <!-- Linkedin -->
        <div class="contactBig__contact">
            <p>Linkedin</p>
            <a href="https://www.linkedin.com/in/katya-rukosuev/">https://www.linkedin.com/in/katya-rukosuev/</a>
        </div>
    </div>
</div>