<div class="contactSmall">
    <a href="https://github.com/RuKatya" data-title="Github" class="titleHref">
        <img src="/icons/git.png" alt="Github" class="homePage__contacts--icon" />
    </a>
    <a href="https://www.linkedin.com/in/katya-rukosuev/" data-title="Linkedin" class="titleHref">
        <img src="/icons/link.png" alt="Linkedin" class="homePage__contacts--icon" />
    </a>
    <a href="mailto:katya.ru.fullstack@gmail.com" data-title="Gmail" class="titleHref">
        <img src="/icons/mail.png" alt="Email" class="homePage__contacts--icon " />
    </a>

    <a href="https://wa.me/972526299431" rel="noopener noreferrer" target="_blank" data-title="WhatsApp"
        class="titleHref"><img src="/icons/wup.png" /></a>
</div>