<footer class="createdBy">
    <a href="https://github.com/RuKatya/NewCV">Code source</a>
    <div>|</div>
    <a href="https://katya-ru.herokuapp.com/">Created by Katya Rukosuev</a>
    <div>|</div>
    <a href="mailto:katya.ru.fullstack@gmail.com">Contact</a>
</footer>