<footer class="createdBy">
    <a href="https://github.com/RuKatya/NewCV" target="_blank">Code source</a>
    <div>|</div>
    <a href="https://www.linkedin.com/in/katya-rukosuev/" target="_blank">Created by Katya Rukosuev</a>
    <div>|</div>
    <a href="mailto:katya.ru.fullstack@gmail.com">Contact</a>
</footer>