<main class="intro">
    <div class="intro__content" data-aos="fade-down">
        <h1 class="lng-introName">Katya Rukosuev</h1>
        <h2 class="lng-introDescr">Fullstack Frontend developer</h2>
    </div>
</main>