<div class="intro">
    <div class="intro__content" data-aos="fade-down">
        <h1>Katya Rukosuev</h1>
        <h2>Fullstack Front-end developer</h2>
    </div>
</div>


<!-- <script src="/script/jquery-3.6.0.min.js"></script>
<script src="/script/query.js"></script> -->