<nav class="navbar">
    <div class="navbar__menuBtn" id="menu"></div>
    <div class="navbar__menu" id="navbar__menu">
        <div class="selectorLang">
            <!-- <select class="changeLang">
                <option value="en">EN</option>
                <option value="he">HE</option>
                <option value="ru">RU</option>
            </select> -->
        </div>

        <div class="navbar__info">
            <p id="aboutme" class="navbar__info--header lng-moreAboteMeBTN">More about me</p>
            <a href="/CV Ekaterina R 16-09-21.pdf" target="_blank" class="navbar__info--header lng-download">Download
                CV</a>
            <a href="/Certificat Katya R.pdf" target="_blank" class="navbar__info--header lng-certificat">Certificat</a>

        </div>
    </div>
    <div class="navbar__trek">
        <button id="worksBtn" class="navbar__trek--header lng-works">My works</button>
        <button id="skillsBtn" class="navbar__trek--header lng-skill">Skills</button>
        <button id="contactBtn" class="navbar__trek--header lng-contact">Contacts</button>
    </div>
</nav>