<nav class="navbar">
    <div class="navbar__menuBtn" id="menu"></div>
    <div class="navbar__menu" id="navbar__menu">
        <div class="navbar__info">
            <p id="aboutme" class="navbar__info--header">More about me</p>
            <a href="/CV Ekaterina R 16-09-21.pdf" target="_blank" class="navbar__info--header">Download
                CV</a>
                <a href="/Certificat Katya R.pdf" target="_blank" class="navbar__info--header">Certificat</a>
        </div>
    </div>
    <div class="navbar__trek">
        <button id="worksBtn" class="navbar__trek--header">My works</button>
        <button id="skillsBtn" class="navbar__trek--header">Skills</button>
        <button id="contactBtn" class="navbar__trek--header">Contacts</button>
    </div>
</nav>