<nav class="navbar">
    <div class="navbar__topSide">
        <div class="navbar__topSide--left">
            <p id="aboutme">More about me</p>
            <div style="display: flex; flex-direction: row;width:15%;justify-content: space-around;">
                <a href="/CV Ekaterina Rukosuev 14.07.2021.pdf" target="_target" class="downloadCV">Download
                    CV</a>
                <a href="/Certificat Katya R.pdf" target="_target" class="downloadCV">Certificat</a>
            </div>

        </div>
    </div>
    <div class="navbar__buttomSide">
        <button id="worksBtn">My works</button>
        <button id="skillsBtn">Skills</button>
        <button id="contactBtn">Contacts</button>
    </div>
</nav>