<div class="navbar">
    <div class="navbar__topSide">
        <div class="navbar__topSide--left">
            <a href="/moreabout">More about me</a>
            <a href="/CV Ekaterina Rukosuev 14.07.2021.pdf" target="_target" class="downloadCV">Download
                CV</a>
        </div>
    </div>
    <div class="navbar__buttomSide">
        <a href="#">My works</a>
        <a href="#">Skills</a>
        <a href="#">Contacts</a>
    </div>
</div>