<div class="skills" id="skills">
    <p class="skills__header" data-aos="flip-up" data-aos-duration="1000">Skills</p>
    <div class="skills__header--content">
        <div class="skills__backAndFront">
            <h2 data-aos="flip-up" data-aos-duration="1000" data-aos-delay="250">Front end</h2>
            <div class="skills__backAndFront--content">
                <!--HTML-->
                <p data-aos="zoom-in" data-aos-delay="50">HTML</p>
                <p data-aos="zoom-in" data-aos-delay="150"> | </p>

                <!--CSS-->
                <p data-aos="zoom-in" data-aos-delay="250"> CSS </p>
                <p data-aos="zoom-in" data-aos-delay="350"> | </p>

                <!--SCSS-->
                <p data-aos="zoom-in" data-aos-delay="450"> SCSS </p>
                <p data-aos="zoom-in" data-aos-delay="550"> | </p>

                <!-- JavaScript -->
                <p data-aos="zoom-in" data-aos-delay="650"> JavaScript </p>
                <p data-aos="zoom-in" data-aos-delay="750"> | </p>

                <!-- jQuery -->
                <p data-aos="zoom-in" data-aos-delay="850"> jQuery </p>
                <p data-aos="zoom-in" data-aos-delay="950"> | </p>

                <!--  React -->
                <p data-aos="zoom-in" data-aos-delay="1050"> React </p>
                <p data-aos="zoom-in" data-aos-delay="1150"> | </p>

                <!-- Redux  -->
                <p data-aos="zoom-in" data-aos-delay="1250"> Redux </p>
                <p data-aos="zoom-in" data-aos-delay="1350"> | </p>

                <!-- NextJS -->
                <p data-aos="zoom-in" data-aos-delay="1450"> NextJS </p>
            </div>
        </div>

        <div class="skills__backAndFront">
            <h2 data-aos="flip-up" data-aos-duration="1000" data-aos-delay="250">Back end</h2>
            <div class="skills__backAndFront--content">
                <!-- NodeJS -->
                <p data-aos="zoom-in" data-aos-delay="50"> NodeJS </p>
                <p data-aos="zoom-in" data-aos-delay="150"> | </p>

                <!-- Express -->
                <p data-aos="zoom-in" data-aos-delay="250"> Express </p>
                <p data-aos="zoom-in" data-aos-delay="350"> | </p>

                <!-- MongoDB -->
                <p data-aos="zoom-in" data-aos-delay="450"> MongoDB </p>
            </div>

        </div>

        <!--HTML-->
        <!-- <p data-aos="zoom-in" data-aos-delay="50">HTML</p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="150"> | </p> -->

        <!--CSS-->
        <!-- <p data-aos="zoom-in" data-aos-delay="250"> CSS </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="350"> | </p> -->

        <!--SCSS-->
        <!-- <p data-aos="zoom-in" data-aos-delay="450"> SCSS </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="550"> | </p> -->

        <!-- JavaScript -->
        <!-- <p data-aos="zoom-in" data-aos-delay="650"> JavaScript </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="750"> | </p> -->

        <!-- jQuery -->
        <!-- <p data-aos="zoom-in" data-aos-delay="850"> jQuery </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="950"> | </p> -->

        <!--  React -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1050"> React </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1150"> | </p> -->

        <!-- Redux  -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1250"> Redux </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1350"> | </p> -->

        <!-- NextJS -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1450"> NextJS </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1550"> | </p> -->
        <!-- NodeJS -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1650"> NodeJS </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1750"> | </p> -->
        <!-- Express -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1850"> Express </p> -->
        <!-- <p data-aos="zoom-in" data-aos-delay="1950"> | </p> -->
        <!-- MongoDB -->
        <!-- <p data-aos="zoom-in" data-aos-delay="2050"> MongoDB </p> -->
    </div>
</div>