<div class="skills" id="skills">
    <p class="skills__header lng-skill" data-aos="flip-up" data-aos-duration="1000">Skills</p>
    <div>
        <div class="skills__backAndFront">
            <h2 data-aos="flip-up" data-aos-duration="1000" data-aos-delay="250">Front end</h2>
            <div class="skills__backAndFront--content">
                <!--HTML-->
                <p data-aos="zoom-in" data-aos-delay="50">HTML</p>

                <!--CSS-->
                <p data-aos="zoom-in" data-aos-delay="50"> CSS </p>

                <!--SCSS-->
                <p data-aos="zoom-in" data-aos-delay="250"> SCSS </p>

                <!-- JavaScript -->
                <p data-aos="zoom-in" data-aos-delay="250"> JavaScript </p>

                <!-- jQuery -->
                <p data-aos="zoom-in" data-aos-delay="450"> jQuery </p>

                <!--  React -->
                <p data-aos="zoom-in" data-aos-delay="450"> React </p>

                <!-- Redux  -->
                <p data-aos="zoom-in" data-aos-delay="650"> Redux </p>

                <!-- NextJS -->
                <p data-aos="zoom-in" data-aos-delay="650"> NextJS </p>
            </div>
        </div>

        <div class="skills__backAndFront">
            <h2 data-aos="flip-up" data-aos-duration="1000" data-aos-delay="250">Back end</h2>
            <div class="skills__backAndFront--content">
                <!-- NodeJS -->
                <p data-aos="zoom-in" data-aos-delay="50"> NodeJS </p>

                <!-- Express -->
                <p data-aos="zoom-in" data-aos-delay="250"> Express </p>

                <!-- MongoDB -->
                <p data-aos="zoom-in" data-aos-delay="450"> MongoDB </p>
            </div>

        </div>
    </div>
</div>