<div class="works" id="works">
    <div class="works__project" data-aos="fade-right">
        <img src="/image/quiz.JPG" alt="" />
        <div>
            <div>
                <h2>Quiz please</h2>
                <h3>React, MongoDB, NodeJs</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perspiciatis non
                    praesentium cupiditate
                    consequatur voluptatum dolores facilis, fuga asperiores nulla amet? Assumenda atque quam odit non
                    architecto! Qui, perspiciatis officia.
                </p>
            </div>

            <div>
                <a href="https://quiz-question-app.herokuapp.com/">Visit</a>
                <a href="https://github.com/RuKatya/Quiz-project" class=""><img src="" />
                    Github</a>
            </div>

        </div>


    </div>


    <div class="works__project" data-aos="fade-left" data-aos-delay="100">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perspiciatis non praesentium cupiditate
            consequatur voluptatum dolores facilis, fuga asperiores nulla amet? Assumenda atque quam odit non
            architecto! Qui, perspiciatis officia.</p>
        <img src="https://i.pinimg.com/564x/44/ce/2c/44ce2cfa6267fde44790205135a78051.jpg" alt="" />
    </div>

    <div class="works__project" data-aos="fade-right" data-aos-delay="200">
        <img src="https://ichef.bbci.co.uk/news/999/cpsprodpb/15951/production/_117310488_16.jpg" alt="" />
        <div class="works__project--image"></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perspiciatis non praesentium cupiditate
            consequatur voluptatum dolores facilis, fuga asperiores nulla amet? Assumenda atque quam odit non
            architecto! Qui, perspiciatis officia.</p>
    </div>

    <div class="works__project" data-aos="fade-left" data-aos-delay="300">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius perspiciatis non praesentium cupiditate
            consequatur voluptatum dolores facilis, fuga asperiores nulla amet? Assumenda atque quam odit non
            architecto! Qui, perspiciatis officia.</p>
        <img src="https://i.pinimg.com/564x/44/ce/2c/44ce2cfa6267fde44790205135a78051.jpg" alt="" />
    </div>
</div>