<div class="works" id="works">

    <div class="works__project" data-aos="fade-down">
        <img src="/image/quiz.JPG" alt="quiz" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2 class="lng-quizHead">Quiz please</h2>
                <h3>React, MongoDB, NodeJs, Scss</h3>
                <p class="lng-quizDesc">
                    This project is a trivia questionnaire with a time limit. The trivia contains 23 questions which are
                    limited to 10 minute. The questionnaire can be answered alone or with friends.
                <p style="color:#2b5ce2" class="lng-quizComeIn"><b>Come on in, take a look and enjoy!</b></p>
                </p>
            </div>

            <div class="works__project--links">
                <a href="https://quiz-question-app.herokuapp.com/" target="_blank" class="lng-visit">Visit</a>
                <a href="https://github.com/RuKatya/Quiz-project" target="_blank">
                    Github</a>
            </div>
        </div>
    </div>


    <div class="works__project" data-aos="fade-down" data-aos-delay="100">
        <img src="/image/blog.JPG" alt="blog" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2 class="lng-blogHead">Blog</h2>
                <h3>Next js, Api, Scss</h3>
                <p class="lng-blogDesc">
                    I built the project after self-learning the NextJS framework. After experimenting with NextJS during
                    my studies, while our course built a website for the Viviross company, in the process I decided
                    to strengthen my expertise further.
                    On that site you can see blogs by different users and the comments that were posted.
                    The data was taken from a free API.
                </p>
            </div>
            <div class="works__project--links">
                <a href="https://posts-lyart.vercel.app/" target="_blank" class="lng-visit">Visit</a>
                <a href="https://github.com/RuKatya/PostAndUsers" target="_blank">
                    Github</a>
            </div>
        </div>

    </div>

    <div class="works__project" data-aos="fade-down" data-aos-delay="250">
        <img src="/image/tasks.JPG" alt="tasks" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2 class="lng-taskHead">Task site</h2>
                <h3>Ejs, MongoDB, JS, NodeJs, Scss</h3>
                <p class="lng-taskDesc">
                    This project was built independently of my studies with the knowledge learned from my courses as
                    well
                    as
                    self-taught skills. The site is a pesonalised to do list app. You can
                    register on the site with your email or use the existing email below for testing:
                <div class="works__project--email-pass">
                    <p class="lng-taskEmail">E-mail: </p><b>test@email.com</b>
                    <p class="lng-taskPass">Password: </p><b>789456123</b>
                </div>
                </p>
            </div>

            <div class="works__project--links">
                <a href="https://your-personal-tasks.herokuapp.com/" target="_blank" class="lng-visit">Visit</a>
                <a href="https://github.com/RuKatya/Remembers" target="_blank">
                    Github</a>
            </div>
        </div>
    </div>

    <div class="works__project" data-aos="fade-down" data-aos-delay="400">
        <img src="/image/weather.JPG" alt="tasks" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2 class="lng-taskHead">Weather app</h2>
                <h3>React, Api, Scss</h3>
                <p class="lng-taskDesc">
                    Practicing use of weather API (<a href="https://openweathermap.org/"
                        style="color: #2b5ce2;">OpenWeather</a>).
                    You can enter any city name in the world and get back information. Input is validated to English and
                    digits.
                    While playing with up you will find that icons and pictures are interactive. Can be used both on
                    mobile and desktop.
                </p>
            </div>

            <div class="works__project--links">
                <a href="https://github.com/RuKatya/Weather-app" target="_blank">
                    Github</a>
            </div>
        </div>
    </div>

    <div class="moreBtn" data-aos="fade-down" data-aos-delay="550">
        <a href="https://frontend-challenges-projects.vercel.app/" class="moreBtn">For more projects</a>
    </div>
</div>