<div class="works" id="works">

    <div class="works__project" data-aos="fade-down">
        <img src="/image/quiz.JPG" alt="quiz" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2>Quiz please</h2>
                <h3 >React, MongoDB, NodeJs, Scss</h3>
                <p>
                    This project is a trivia questionnaire with a time limit. The trivia contains 23 questions which are
                    limited to 10 minute. The questionnaire can be answered alone or with friends.
                <p style="color:rgb(43, 92, 226)"><b>Come on in, take a look and enjoy!</b></p>
                </p>
            </div>

            <div class="works__project--links">
                <a href="https://quiz-question-app.herokuapp.com/" target="_blank">Visit</a>
                <a href="https://github.com/RuKatya/Quiz-project" target="_blank">
                    Github</a>
            </div>
        </div>
    </div>


    <div class="works__project" data-aos="fade-down" data-aos-delay="100">
        <img src="/image/blog.JPG" alt="blog" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2>Blog site</h2>
                <h3 >Next js, Api, Scss</h3>
                <p>
                    I built the project after self-learning the NextJS framework. After experimenting with NextJS during
                    my studies, while our course built a website for the Viviross company, in the process I decided
                    to strengthen my expertise further.
                    On that site you can see blogs by different users and the comments that were posted.
                    The data was taken from a free API.
                </p>
            </div>
            <div class="works__project--links">
                <a href="https://posts-lyart.vercel.app/" target="_blank">Visit</a>
                <a href="https://github.com/RuKatya/PostAndUsers" target="_blank">
                    Github</a>
            </div>
        </div>
        
    </div>

    <div class="works__project" data-aos="fade-down" data-aos-delay="250">
        <img src="/image/tasks.JPG" alt="tasks" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2>Task site</h2>
                <h3 >Ejs, MongoDB, JS, NodeJs, Scss</h3>
                <p>
                    This project was built independently of my studies with the knowledge learned from my courses as
                    well
                    as
                    self-taught skills. The site is a pesonalised to do list app. You can
                    register on the site with your email or use the existing email below for testing:
                <div class="works__project--email-pass">
                    <p >E-mail: </p><b>test@email.com</b>
                    <p >Password: </p><b>789456123</b>
                </div>
                </p>
            </div>

            <div class="works__project--links">
                <a href="https://your-personal-tasks.herokuapp.com/" target="_blank">Visit</a>
                <a href="https://github.com/RuKatya/Remembers" target="_blank">
                    Github</a>
            </div>
        </div>
    </div>
</div>