<div class="works" id="works">

    <div class="works__project" data-aos="fade-right">
        <img src="/image/quiz.JPG" alt="quiz" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2>Quiz please</h2>
                <h3 style="padding: 0;margin: 0;">React, MongoDB, NodeJs, Scss</h3>
                <p>
                    The project is a trivia questionnaire that is limited by time.
                    The trivia contains 23 questions in which the user has 10 minutes to solve them all.
                    You can go through the questionnaire yourself, or do it with your friends.
                <p style="color:rgb(43, 92, 226)"><b>Come on in, take a look and enjoy!</b></p>
                </p>
            </div>

            <div class="works__project--links">
                <a href="https://quiz-question-app.herokuapp.com/" target="_blank">Visit</a>
                <a href="https://github.com/RuKatya/Quiz-project" target="_blank">
                    Github</a>
            </div>
        </div>
    </div>


    <div class="works__project" data-aos="fade-left" data-aos-delay="100">
        <div class="works__project--content">
            <div class="works__project--info">
                <h2>Blog site</h2>
                <h3 style="padding: 0;margin: 0;">Next js, Api, Scss</h3>
                <p>
                    I built the project after learning the NextJS framework myself. I experimented with NextJS during
                    my studies, when our course built a website for a company called Viviross. When we finished I
                    realized I
                    wanted to strengthen myself in the framework further.
                    On the site you can see blogs of different people and the comments they posted to different posts.
                    The data was taken from a free API.
                </p>
            </div>
            <div class="works__project--links">
                <a href="https://posts-lyart.vercel.app/" target="_blank">Visit</a>
                <a href="https://github.com/RuKatya/PostAndUsers" target="_blank">
                    Github</a>
            </div>
        </div>
        <img src="/image/blog.JPG" alt="blog" />
    </div>

    <div class="works__project" data-aos="fade-right" data-aos-delay="200">
        <img src="/image/tasks.JPG" alt="tasks" />
        <div class="works__project--content">
            <div class="works__project--info">
                <h2>Task site</h2>
                <h3 style="padding: 0;margin: 0;">Ejs, MongoDB, JS, NodeJs, Scss</h3>
                <p>
                    This is a personal project built with learned knowledge. The site is a to do app. You can
                    register on the site with your email or use an existing email, by it you can take a look to the
                    site:
                <div style="display: flex; flex-direction: column;color:rgb(43, 92, 226) ">
                    <p style="padding: 0;margin: 0;">E-mail: <b>test@email.com</b></p>
                    <p style="padding: 0;margin: 0;">Password: <b>789456123</b></p>
                </div>
                </p>
            </div>

            <div class="works__project--links">
                <a href="https://your-personal-tasks.herokuapp.com/" target="_blank">Visit</a>
                <a href="https://github.com/RuKatya/Remembers" target="_blank">
                    Github</a>
            </div>
        </div>
    </div>
</div>